.record.container

  .row
    .col-lg-12
      h2.page-header
        | #{model}

  .row
    .col-lg-12
      .panel.panel-default
        .panel-heading
          | Showing of 
        .panel-body
          .table-responsive
            table.table.table-striped.table-bordered.table-hover
              thead.header
                tr
                  th Name
                  th Type
                  th Index
                  th Default Value
              tbody.rows


          .pager.pull-right
          .clear
                  

  .modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
          h4.modal-title
        .modal-body
          .well.content
        .modal-footer
            



